@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
$c4: #27292D
$c5: #FFFFFF
$c1: #4F63FF
$c2: #35BB63
$c3: #FF005C
$c6: #ffd900
$c7: #9BA1B5
$c8: #F2F2F2
$c9: #182655
$c10: #383B40
$c11: #7E7E7E
$f1: Quicksand
$f2: Abel

* 
  padding: 0
  margin: 0
  box-sizing: border-box

body 
  height: 100vh
  width: 100%
  background-color: #111
  font-family: $f2
  display: flex
  align-items: center
  justify-content: center

.container 
  display: flex
  justify-content: center 
   

.card_content
  display: grid
  grid-template-columns: 2fr 2fr

.card   
  display: flex
  justify-content: space-around
  position: relative  
  border-radius: .3rem 
  width: 900px

  .controls 
    display: flex
    flex-direction: column
    align-items: flex-end
    width: 100%
    // background-color: #e0f
    .actions 
      display: flex
      div 
        margin: 0 .5rem 1rem .5rem 
    .slider     
                
    input[type=range] 
      // overflow: hidden
      width: 100%
      margin: 5.85px 0
      background: transparent
      -webkit-appearance: none

    input[type=range]:focus 
      outline: none
      // background-color: $c3

    input[type=range]::-webkit-slider-runnable-track 
      background: $c2
      border: 1.1px solid $c2
      border-radius: 5rem
      width: 100%
      height: .5rem
      cursor: pointer
    
    input[type=range]::-webkit-slider-container
      // background: darken($c5, 15%)
      width: 100%
      // background: $c2
      border-radius: 10rem

      


    input[type=range]::-webkit-slider-thumb 
      margin-top: -6.95px
      width: 1.2rem
      height: 1.2rem
      box-shadow: 0px 2px 10px rgba(53, 187, 99, 0.5)
      background: $c5
      border: 2.5px solid $c2
      border-radius: 12px
      cursor: pointer
      -webkit-appearance: none

    // input[type=range]::-moz-range-progress 
    //   background-color: $c2
      // height: 100%


    input[type=range]:focus::-webkit-slider-runnable-track 
      background-color: darken($c2, 5%)



    input[type=range]::-moz-range-track 
      background: darken($c5, 5%)
      // border: 1.1px solid #18d501      
      width: 100%
      // height: 100%
      height: .6rem
      border-radius: 10rem
      // overflow: hidden
      cursor: pointer

    input[type=range]::-webkit-progress-value
      background: $c3
      height: 100%
      border-radius: 10rem
      
    input[type=range]::-moz-range-progress 
      background: $c2
      height: .6rem
      border-radius: 10rem

    input[type=range]::-moz-range-thumb 
      width: 1rem
      height: 1rem
      box-shadow: 0px 2px 10px rgba(53, 187, 99, 0.5)
      background: $c5
      border: .3rem solid #83e584
      border-radius: 10rem
      cursor: pointer

    input[type=range]::-ms-track 
      // background: transparent
      // background: $c3
      border-color: transparent
      border-width: 8.45px 0
      color: transparent
      width: 100%
      height: 50%
      cursor: pointer

    input[type=range]::-ms-fill-lower 
      background: #194620
      border: 1.1px solid #18d501
      border-radius: 2px

    input[type=range]::-ms-fill-upper 
      background: #205928;
      border: 1.1px solid #18d501
      border-radius: 2px

    input[type=range]::-ms-thumb 
      width: 23px
      height: 23px
      background: #439643
      border: 2.5px solid #83e584
      border-radius: 12px
      cursor: pointer
      margin-top: 0px
      /*Needed to keep the Edge thumb centred*/

    input[type=range]:focus::-ms-fill-lower 
      background: #205928
      // background-color: $c3


    input[type=range]:focus::-ms-fill-upper 
      background: #276c30
      // background-color: $c3


    

  .percentage 
    font-size: 3.5rem
    color: $c1
    font-weight: 1000

  .info 
    display: flex
    align-items: flex-end
    margin: .5rem 0
    
    span 
      margin: 0 .5rem .8rem 

  .change 
    color: $c3
    font-weight: 600

  .slider
    margin-bottom: 1rem

  .source 
    display: flex
    justify-content: flex-end
    align-items: center
    height: 100%
    width: 100%
    p 
      font-size: .8rem
      letter-spacing: .5px
      margin-left: .5rem
      a
        font-weight: 700
        text-decoration: none 
        color: $c10
        transition: color 250ms ease-in-out
        &:hover 
          color: $c1

  
  .intervals
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    position: absolute
    bottom: 0
    width: 100%
    
    span
      padding: .5rem 0
      text-align: center
      &:hover 
        


.full
    padding: 2rem 1rem
    height: 12rem
    width: 100%  
    // width: 20rem


.compact
  padding: 2rem 1rem
  height: 9rem 
  width: 100%
  // width: 20rem

img 
  cursor: pointer


.minimal, 
  padding: 2rem 1rem
  height: 10rem 
  width: 100%

.full 
  .intervals 
    span 
      border: 1px solid $c10
      
.title 
  color: darken($c7, 20%)
  font-size: 1rem
   
.light
  background-color: $c5
  .intervals 
    background-color: $c5
    cursor: pointer
    color: $c9       
    span 
      border: 1px solid $c7
      border-bottom: none
      &.now 
        background-color: $c8

    // h3 
    //   color: darken($c7, 20%)

  .range_minimal
    background-color: $c8
    .range_width
      background-color: $c3

  .switch 
    

.dark 
  background-color: $c4
  .title 
    color: $c11
  .intervals
    background-color: $c4
    color: $c8
  .source
    p
      color: $c5
      a
        color: $c7
  span.now
    background-color: $c10
  .range_minimal 
    background-color: $c10
    .range_width
      background-color: $c3
    

.compact 
  .intervals 
    display: none

.minimal
  .intervals
    display: none
  .slider 
    display: none

  .range_minimal 
    position: absolute
    padding: 0rem
    bottom: .5rem
    border-radius: 100rem
    width: 90%
    .range_width
      width: 80%
      border-radius: 100rem
      height: .5rem
  


@media (min-width: 318px) and (max-width: 380px)
  .full, .minimal, .compact 
    height: 100%
    width: 90vw
  h3 
    font-size: 1rem

  .card_content 
    margin-bottom: 1rem
  

  .minimal 
    height: 100%
    width: 100
  .card_content 
    display: flex
    flex-direction: column-reverse